/* Fonts */
@charset "UTF-8";

/* Silkscreen */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Varela */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$font-path: "fonts/";

@font-face {
  font-family: "din";
  src: url(../fonts/DIN\ Next\ LT\ Pro\ Regular.ttf) format("truetype");
}

@font-face {
  font-family: "mark";
  src: url(../fonts/Mark-Pro.ttf) format("truetype");
}

/* Styles */

/* General Styles */
@import url(general-styles.scss);

/* Header & Nav Styles */
@import url(header-nav-style.scss);

/* Header & Main Styles */
@import url(header-main-style.scss);

/* Main Contact Us */
@import url(contact-us-style.scss);

/* Footer Styles */
@import url(footer-style.scss);

/* Responsive Styles */
@import url(responsive-style.scss);