@charset "UTF-8";

df-messenger {
  --df-messenger-bot-message: #a7aab3;
  --df-messenger-button-titlebar-color: #1969b4;
  --df-messenger-button-titlebar-font-color: rgb(255, 255, 255);
  --df-messenger-chat-background-color: #fafafa;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #71bbe4;
  --df-messenger-user-message: #1d69b1;
}